header {
  background-color: @color-white;
  height          : @height-60-px;

  .contentstack-logo-wrapper-div {
    display    : inline-block;
    height     : @height-30-px+5;
    margin-left: @margin-10+6;
    margin-top : @margin-10+3.37;
    width      : @width-40-px+14;

    .contentstack-logo {}
  }

  .stack-name {
    display : inline-block;
    left    : 1.1%;
    position: relative;
    top     : -2%;

    .stack-value {
      color      : @color-black;
      font-family: @roboto;
      font-size  : @font17;
      line-height: @line-height-15+5;
    }

    span {
      margin-left: 5px;

      .dropdown-list {
        color   : @color-black;
        height  : @height-4-px+1;
        position: relative;
        left    : 8%;
        width   : @width-7-px+1;
      }
    }
  }

  .navbar {
    display : inline-block;
    position: relative;
    left    : 5.9%;
    top     : -4%;

    .nav-list {
      width: 100%;

      .list-name {
        display: inline;

        .nav-link {
          color       : @font-color-black;
          cursor      : pointer;
          font-size   : @font14;
          line-height : @line-height-16;
          margin-right: 49px;
        }

        .entry-link {
          border-bottom : 2px solid #533DC0;
          color         : @color-purple;
          font-weight   : @semibold;
          padding-bottom: 22px;

          &:hover {}
        }
      }
    }
  }

  .header-right-images {
    float        : right;
    padding-top  : @padding-20+2;
    padding-right: @padding-9;

    .to-do-task {
      margin-top: -2px;
      position  : relative;
      right     : 152%;
    }

    .question-mark {
      position: relative;
      right   : 100%;
    }

    .user-name-avatar {
      position: relative;
      right   : 50%;
    }

    .dropdown-icon {
      height    : 5px;
      margin-top: -2px;
      position  : relative;
      right     : 30%;
      width     : 8px;
    }
  }
}