.main-wrapper {
    background-color: @background-color-grey;
    width           : @width-80;

    .entries-section {
        display: flex;
        height : @height-80-px+6;

        .entries-title {

            .title {
                color      : @color-black;
                font-family: @roboto;
                font-size  : @font22;
                line-height: @line-height-26;
                position   : relative;
                left       : 43%;
                top        : 30%;
            }
        }

        .search-entries {
            position: relative;
            left    : 7.4%;
            top     : 32%;
            width   : 450px;

            span {
                .search-image {
                    position: absolute;
                    top     : 12%;
                    left    : 3.7%
                }
            }

            input[type="text"] {
                color           : @font-color-grey;
                background-color: @color-white;
                border          : 1px solid @color-light-grey;
                box-sizing      : border-box;
                box-shadow      : 0 0.1px 4px rgba(0, 0, 0, .06);
                border-radius   : @border-radius-5;
                font-family     : @roboto;
                font-size       : @font13;
                height          : @height-30-px+3;
                line-height     : @line-height-15;
                padding-left    : @padding-30+8;
                width           : 95%;
            }

            ::placeholder {
                padding-bottom: 1px;
            }
        }

        .advanved-option {
            cursor  : pointer;
            position: relative;
            top     : 42%;
            left    : -2.4%;

            .adv-btn {
                color        : @font-color-grey;
                border-left  : 1px solid #ecedef;
                border-radius: @border-radius-1;
                font-family  : @roboto;
                font-size    : @font13;
                line-height  : @line-height-15;
                padding-left : @padding-10+3;
            }
        }

        .dropdown-list-language {
            position: relative;
            left    : 17.3%;
            top     : 40%;

            @media screen and (max-width: 1280px) {
                position: relative;
                left    : 11.3%;
                top     : 40%;
            }

            .language-selection {
                color      : @light-grey;
                font-family: @roboto;
                font-size  : @font13;
                line-height: @line-height-15;
            }
        }

        .dropdown-for-language {
            height  : 4px;
            width   : 7px;
            position: absolute;
            left    : 107.1%;
            top     : 10%;
        }

        .button-for-new-entry {
            position: relative;
            left    : 21%;
            top     : 30%;

            @media screen and (max-width: 1280px) {
                position: relative;
                left    : 15.5%;
                top     : 30%;
            }

            .entry-button {
                color        : @color-white;
                background   : @color-purple;
                border       : none;
                border-radius: @border-radius-5;
                font-family  : @roboto;
                font-size    : @font13;
                line-height  : @line-height-15;
                padding      : @padding-5 @padding-30 @padding-10 @padding-25+3;
            }
        }
    }

    .top-header {
        border-top  : 1px solid#ECEDEF;
        display     : flex;
        height      : @height-10;
        margin-left : @margin-30;
        margin-right: @margin-25+1;

        .filters {
            .filter-link {
                color      : #708096;
                font-family: @roboto;
                font-size  : @font13;
                line-height: @line-height-15;
                position   : relative;
                top        : 36%;
                left       : 0%;
            }
        }

        .publish-status-wrapper {
            .ps-link {
                color      : @font-color-grey;
                font-family: @roboto;
                font-size  : @font13;
                line-height: @line-height-15;
                position   : relative;
                left       : 21.7%;
                top        : 36%;
            }

            .dropdown-list {
                height  : 4px;
                width   : 7px;
                position: absolute;
                left    : 132%;
                top     : 49%;
            }
        }

        .tags {
            position: relative;
            left    : 6.7%;
            top     : 35%;

            .tag-link {
                color      : @font-color-grey;
                font-family: @roboto;
                font-size  : @font13;
                line-height: @line-height-15;
            }

            .dropdown-for-tags {
                position: relative;
                left    : 24%;
                top     : 4%;

                .dropdown-list {
                    height: 4px;
                    width : 7px;
                }
            }
        }

        .more-options {
            position: relative;
            left    : 11%;
            top     : 35%;

            .plus-more-image {
                position: relative;
                right   : 2%;
                top     : 2%;
            }

            .more-features {
                color      : @font-color-grey;
                font-family: @roboto;
                font-size  : @font13;
                line-height: @line-height-15;
                position   : relative;
                position   : relative;
                left       : 28%;
            }
        }
    }

    .show-entries {
        position: relative;
        left    : 67%;
        top     : 35%;

        @media screen and (max-width: 1280px) {
            position: relative;
            left    : 64%;
            top     : 35%;
        }

        .total-entries {
            color      : @font-color-grey;
            font-family: @roboto;
            font-size  : @font13;
            line-height: @line-height-15;
        }
    }
}

.entry-wrapper {
    margin-left : @margin-30+1;
    margin-right: @margin-25;

    .show-ct {
        width: @width-100;

        ul {
            .row {
                background-color: @color-white;
                border-bottom   : 1px solid #ecedef;
                display         : flex;
                height          : @height-50-px+4;

                .row-title {
                    color        : @font-color-grey;
                    font-family  : @roboto;
                    font-size    : @font13;
                    line-height  : 15px;
                    overflow     : hidden;
                    padding      : 20px 25px 17px 28px;
                    text-overflow: ellipsis;
                    white-space  : nowrap;

                    ul {
                        margin-left: @margin-15+1;

                        .staging {
                            margin-top: -12px;
                        }

                        .color-green {
                            color: @color-staging;
                        }

                        .production {
                            margin-top: 5px;
                        }

                        .color-blue {
                            color: @color-production;
                        }

                        li {
                            list-style: circle;
                        }
                    }

                    .modified-by-dropdown {
                        height  : 4px;
                        width   : 7px;
                        position: absolute;
                        right   : 42%;
                    }

                    .row-description {
                        color        : #8599AD;
                        font-family  : @roboto;
                        font-size    : @font11;
                        line-height  : 13px;
                        margin-top   : 3px;
                        text-overflow: ellipsis;
                        overflow     : hidden;
                        white-space  : nowrap;
                    }

                    .dropdown-list {
                        height  : 4px;
                        width   : 7px;
                        position: absolute;
                        right   : -108%;
                        top     : 40%;
                    }

                    .cascade {}
                }

                .modified-by-name {}

                .w-20 {
                    width: 20%;
                }

                .publish-status {}

                .cascade-dropdown-wrapper {
                    float: right;
                }

                .font-12 {
                    font-family: @roboto;
                    font-size  : 12px;
                    line-height: 14px;
                }

                .ml-20 {
                    margin-left: 19px;

                    .ct {
                        cursor: pointer;
                    }
                }

                .modified-by-name {
                    margin-top: -8px;
                }

                .padding-14 {
                    padding-top: 14px !important;
                }

                .w-30 {
                    width: 30%;
                }

                .link-ct-title {
                    color      : @font-color-black;
                    cursor     : pointer;
                    font-size  : @font14;
                    line-height: @line-height-16;
                }
            }

            .br-5-top {
                border-radius: 5px 5px 0px 0px;
            }

            .row:last-child {
                border-bottom: none;
                border-radius: 0px 0px 5px 5px;
            }

            .row-heading {
                background-color: @background-color-grey;
                border-bottom   : none;
                color           : @font-color-grey;
                height          : 38px;
                text-transform  : capitalize;
            }
        }
    }
}